*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
release.keystore
*.keystore
keystore-encoded.txt
app/release.keystore
app/debug.keystore
*.aab
*.apk
+ /.idea/
+ /.idea/misc.xml
+ /.idea/compiler.xml
+ /.idea/gradle.xml
+ /.idea/kotlinc.xml
+ /.idea/vcs.xml
+ /.idea/inspectionProfiles/
+ /.idea/.name
+ /.idea/.gitignore
+ /.idea/deploymentTargetDropDown.xml
+ /app/release/
+ /app/debug/
+ /app/build/
+ *.log
+ .env
+ google-services.json